# Cloudinary Credentials

# For Client‑Side (Browser)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

# For Server‑Side (API Routes)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# OpenAI API Key
OPENAI_API_KEY=

# Database URL
DATABASE_URL=
